@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @model PresentationLayer.Models.RecordEditModel
}

<div class="input-group-prepend">
    <form ></form>
</div>
