@{
    ViewData["Title"] = "Home Page";
    @model List<PresentationLayer.Models.PlayerViewModel>
}
<div class="alert">
    <a asp-route-playerId="0" asp-controller="Player" asp-action="PlayerEditor"> Добавить игрока </a>
</div>
<div class="text-center">
    <h1 class="display-4">Список игроков: </h1>
    @{

        if (Model != null)
        {
            foreach (var player in Model)
            {
                <h1>@player.Player.Name</h1>
                <h1><a asp-route-playerId="@player.Player.Id" asp-controller="Player" asp-action="Index">@player.Player.NickName</a></h1>
                <br/>
            }
        }
    }

</div>
