@{
    ViewData["Title"] = "Home Page";
    @model List<DataLayer.Entities.Player>
}

<div class="text-center">
    <h1 class="display-4">Список игроков: </h1>
    @{

        if (Model != null)
        {
            foreach (var player in Model)
            {
                <h1>@player.Name</h1>
                <h1>@player.NickName</h1>
                <br/>
            }
        }
    }

</div>
