@{
    ViewData["Title"] = "Home Page";
    @model List<DataLayer.Entities.Player>
}

<div class="text-center">
    <h1 class="display-4">Общий список игроков</h1>
    @{
        foreach (var player in Model)
        {
            <h1>@(Model.IndexOf(player) + 1) 
                <a asp-route-playerId="@player.Id" asp-action="Player">@player.NickName</a>
            
            </h1>
        }
    }
</div>

