@{
    ViewData["Title"] = "Home Page";
    @model List<DataLayer.Entities.Player>
}

<div class="text-center">
    <h1 class="display-4">Общий список игроков</h1>
    @{
        foreach (var player in Model)
        {
            <h1>@(Model.IndexOf(player)+1) @player.NickName</h1>
                                
        }
    }
    <p>MafiaUralClub dev 2020</p>
</div>
